[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	amend = commit -a --amend
	redate = commit --amend --date=\"now\"
	remaster = rebase origin/master
[core]
	editor = nano
[user]
	email = user@interrogative.io
	name = User
